.container {
  border: 1px solid cornflowerblue;
  margin: 0 auto;
  margin-top: 10px;
  width: 340px;
  height: auto;
}

.title {
  display: block;
  text-align: center;
  background: darkgrey;
  padding: 10px;
  margin: 0;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: rgba(117, 190, 218, 0.7);
  border: 1px solid black;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.label {
  font-weight: bold;
}
